.main-login-container {
  width: 20%;
  height: 50%;
  background-color: #fff;
  z-index: 1;
  min-height: 50%;
  min-width: 20%;
  position: absolute;
  animation-name: dialog;
  animation-duration: 5s;
  border-radius: 10px;
  right: 2%;
  background-color: #00a4ccff;
  top: 1%;
  box-shadow: 0px 9px 47px 4px rgba(110, 106, 106, 0.75);
  -webkit-box-shadow: 0px 9px 47px 4px rgba(166, 142, 142, 0.75);
  -moz-box-shadow: 0px 9px 47px 4px rgba(166, 142, 142, 0.75);
  border: 2px dotted #fff;
  justify-content: center;
  display: flex;
  flex-direction: column;
  .cancelbutton {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    button {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      background: #ddd;
      margin-top: 2px;
      margin-right: 2px;
      border: none;
      &:hover {
        background-color: #ddf;
      }
    }
  }

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 34px;
    flex: 1;
    input {
      width: 80%;
      height: 40px;
      border: none;
      border-radius: 50px;
      padding-left: 10px;
      margin-top: 10px;
    }
    .remember-me {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      .ant-checkbox-wrapper {
        margin: 12px 0 0 53px;
      }
      .login-action {
        display: flex;
        height: 40px;
        width: 100%;
        justify-content: center;
        align-items: center;
        button {
          width: 80%;
          height: inherit;
        }
      }
    }
  }
  .inputlogo {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
      width: 60px;
      height: 60px;
    }
  }
}

// Animations
@keyframes dialog {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.show-dialog {
  visibility: visible;
}
.hide-dialog {
  visibility: hidden;
}
