.header-topbar {
  display: flex;
  background-color: #49e20e;
  width: 100%;
  height: 50px;

  .title-section {
    display: flex;
    width: 10%;
    height: inherit;
    border-right: 1px dashed #fff;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 0 10px;
    h2 {
      margin-top: 4px;
    }
  }
}
