.Main-screen-Container {
  display: flex;
  flex-direction: column;
  .Topbar {
    display: flex;
    width: calc(100%);
    justify-content: space-between;
    background-color: #f6f6f6;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
    h2 {
      padding-top: 10px;
    }

    .right-panel {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 5px;
      .Avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        color: greenyellow;
      }
    }
  }

  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #f6f6f6;
    border-radius: 5px;
    height: calc(100vh - 100px);
    min-height: 100%;
  }
}
