html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #f6f6f6;
  .center-div {
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .caption {
      p {
        font-size: 50px;
        font-weight: bold;
        color: #0fc1c7;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
    }
    .logo {
      width: 100px;
      height: 100px;
    }

    .action-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .btn {
        border: none;
        height: 40px;
        width: 100px;
        padding: 5px;
        margin: 4px;
        cursor: pointer;
        background-color: #0fc1c7;
        border-radius: 50px;
        font-family: "Times New Roman", Times, serif;
        font-weight: bolder;
        color: #fff;
      }
      .Login:hover {
        background-color: #ddd;
      }
      .Registration:hover {
        background-color: #ddd;
      }
    }
  }
}
